## 2 SQL
语法特征：1. sql语言，大小写不敏感  2. 可以单行or多行书写，最后以；结束
        3.sql支持注释：
        单行注释：-- 注释内容（--后面一定有一个空格）
                 # 注释内容（#后面可以不加空格，推荐加上）
数据库：数据存储的库，作用：组织数据并存储数据
       如何组织数据：库-表-数据
分类：DDL：数据定义，库的创建和删除，表的创建和删除
     DML:数据操作
     DCL：数据控制
     DQL：数据查询

## DDL库管理
查看数据库： show databases
使用数据库：use 数据库名称
创建数据库：create database 数据库名称[CHARST UTF8]
删除数据库：DROP DATABASE 数据库名称：
查看当前使用的数据库：SELECT DATABASE（）；

DDL 表管理
查看表： show tables； 注意；需要先选择数据库
删除表： drop table 表名称；
        drop table if exists 表名称；
创建表：create table 表名称（
            列名称 列类型，
            列名称，列类型，
            ...
            ）；

列类型：int --整数
float  --浮点数
varchar --长度(长度最大255)
date  --日期类型
timestamp  --时间戳类型

## DML 数据操作语言，data manipulation language，
作用：对数据库中表的数据记录进行更新
关键字：
1. 插入INSERT：基础语法：INSERT INTO 表[(列1，列2，...)] VALUE(值1，值2，...)[,(值1，值2，...),...,(值1, 值2,...)]
2. 数据删除DELETE：基础语法： DELETE FROM 表名称 [WHERE 条件判断]
                  条件判断：列 操作符 值
                  操作符 = < > >= <=
3. 数据更新UPDATE：基础语法： UPDATE 表名 SET 列=值 [where 条件判断]；
                 ps：字符串的值必须要单引号写

### DQL 基础数据查询
基础数据查询：SELECT关键字开头的SQL语句，进行数据的查询
            基础语法 ：SELECT 字段列表|*FROM表
            含义：从from表中，选择（SELECT）某些列进行展示

            过滤：SELECT 字段列表|* FROM 表 WHERE 条件判断

分组聚合：eg：统计班级中，男生和女生的人数 这种需求需要：按性别分组，统计每个组的人数--分组聚合 
         基础语法：SELECT 字段列表|* FROM 表 [WHERE 条件判断] GROUP BY 列
         聚合函数：- SUM（列） 求和
                 - AVG（列） 求平均值
                 - MIN（列）求最小值
                 -MAX（列）求最大值
                 — COUNT（列|*）求数量
        ps:GROUP BY中出现哪个列，哪个列才能出现在SELECT中的非聚合

排页和分页：结果查询：使用ORDER BY 关键字对指定某个列进行排序
                   语法：SELECT 列|聚合函数｜* FROM表
                        WHERE ...
                        GROUP BY...
                        ORDER BY ...[ASC|DESC]  #asc:从小到大排序，desc：从大到小排序
                        #结果分页限制
                        LIMIRT n[,m] #eg 10,5 跳过10，从11开始取五条数据
                        ps：必须按照以上的顺序

### python和mysql
创建到mysql的数据库链接
数据插入

In [4]:
#pymysql的基础操作

from pymysql import Connection #导包

#创建到mysql的数据库链接
conn=Connection(
    host="localhost", #主机名（ip）
    port=3306,    #端口
    user="root",   #账户
    password="Meimei617!" #密码
)

#print(conn.get_server_info())

#执行非查询性质sql
cursor=conn.cursor()   #获取游标对象
#选择数据库
conn.select_db("test")
#执行sql
#cursor.execute("create table test_pymysql(id int);")

cursor.execute("select* from student")

results=cursor.fetchall()#查询全部结果封装到元组内
for r in results:
    print(r)
#关闭链接
conn.close()

In [9]:
#pymysql库进行数据插入的操作

from pymysql import Connection #导包

#创建到mysql的数据库链接
conn=Connection(
    host="localhost", #主机名（ip）
    port=3306,    #端口
    user="root",   #账户
    password="Meimei617!", #密码
    autocommit=True      #设置自动确认
)

#执行非查询性质sql
cursor=conn.cursor()   #获取游标对象
#选择数据库
conn.select_db("world")
#执行sql
cursor.execute("insert into student values(10002,'bob',30,'男')")

#通过commit手动确认
#conn.commit()

#关闭链接
conn.close()

In [13]:
#综合案例